@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.mt-page{
    margin-top: 90px;
}

select{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    /* min-width: 200px; */
    width: 100%;
}