@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.mt-page{
    margin-top: 90px;
}

select{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    /* min-width: 200px; */
    width: 100%;
}

.react-confirm-alert-overlay  {
    background: rgba(0, 0, 0, 0.8) !important;
    position: fixed;
    top: 0;
    bottom: o;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
  }

  .react-confirm-alert-content {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 1rem;
    position: relative;
    border-radius: 0.24rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .react-modal-close{
    position: absolute;
    right: -20px;
    top: -15px;
    border: 0;
    background: transparent;
    transition: filter;
  }